[Unit]
Description=Timestamp to PHC synchronization service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/ts2phc -c {{ ts2phc_clock }} -s {{ ts2phc_source }} --ts2phc.pin_index 2 --ts2phc.extts_polarity {{ ts2phc_extts_polarity }} --ts2phc.pulsewidth {{ ts2phc_pulsewidth }} -l {{ ts2phc_logging_level }} {{ ts2phc_extra_opts }}
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
